Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit
method.

Select * from (SELECT first_name,department,salary,dense_rank() over(order by salary desc) r FROM worker) ranked_worker where r=5;

Q-20. Write an SQL query to fetch the list of employees with the same salary.

SELECT salary,
GROUP_CONCAT( first_name ) as "List of Employees with same salary" 
FROM worker group by salary;