Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

Select * from worker where DATE_FORMAT(date_of_joining, "%M %Y") ='February 2014';

Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of
a table.

Select w.*,count(email) record_count from worker w group by first_name,department,salary,email having count(email) >1 ;

Q-3. How to remove duplicate rows from Employees table.

delete from worker where id in
(Select id from
(SELECT id,first_name,department,salary,email,ROW_NUMBER()
OVER (PARTITION BY first_name,department,salary,email order by id) AS row_num   
FROM worker)  temp  where row_num>1);