Q-13. Write an SQL query to show only odd rows from aÂ table.

Select * from 
(SELECT  w.*,ROW_NUMBER()   
OVER (order by id) AS row_num   
FROM worker w) temp where row_num%2<>0 ;

Q-14. Write an SQL query to clone a new table from another table.

CREATE TABLE clone_demo SELECT * FROM worker;