Q-15. Write an SQL query to fetch intersecting records of two tables.

intersect implementation in MySQL (as intersect keyword not supported)

Select * from worker_details x
inner join worker y on  x.id=y.id;

Q-16. Write an SQL query to show records from one table that another table does not
have.

Select * from worker_details x
left outer join worker y on  x.id=y.id;