Q-17. Write an SQL query to show the top n (say 10) records of a table.

 select *from worker limit 0,10;

Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

set @n:=5;
Select * from (SELECT first_name,department,salary,dense_rank() over(order by salary desc) r FROM worker) ranked_worker where r=@n;